<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap" rel="stylesheet">


    <style>
        body{
            background-color:#f5f8fa;
            background-size: cover;

        }

        .buttonFloat{
            height: 100%;
            overflow: hidden;

        }

        .buttonFloat button{
            float: right;
        }

        .navbar-light i{
            font-size: 50px;
        }

        .navbar h4{
          margin-left: 370px;
          font-family: 'Playfair Display', serif;

        }

        .noPost h4{
            margin-left: 425px;
            font-size: 40px;
        }


    </style>
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <i class="fab fa-instagram"></i>
        <h4>@{{myuser.name}}</h4>

        <div class="buttonFloat">
          <button onclick="location.href = '{{logout_url}}';" type="button"
                    class="btn btn-outline-primary mr-2">Logout</button>
            <button onclick="location.href = '/profilePageHandler';" type="button"
                    class="btn btn-outline-primary mr-2">ProfilePage</button>
            <form action="/searchHandler" method="get" class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Search</button>
            </form>
      </div>


    </nav>

    <div class="container mt-4">
        {% if  timeLinePics|length != 0%}
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
              {% for i in timeLinePics %}
              <div class="card mb-4" style="width: 28rem;">
                <img class="card-img-top" src="/downloadHandler?blobkeyid={{i.pic}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{picsUploadedBy[loop.index-1].name}}</h5>

                  <p class="card-text">Caption: {{i.caption}}</p>
                </div>
                <ul class="list-group list-group-flush">
                {% if i.comments|length >= 5 %}
                    {% for j in range(5) %}
                    <li class="list-group-item">{{i.comments[j].user}}:  {{i.comments[j].text}}</li>
                    {% endfor %}
                {% else %}
                    {% for j in i.comments %}
                    <li class="list-group-item">{{j.user}}:  {{j.text}}</li>
                    {% endfor %}
                {% endif %}
                </ul>
                <div class="card-body">
                  <a href="/viewCommentHandler?postKeyId={{i.key.id()}}" class="card-link">View All Comments</a>
                  <a href="/addCommentsHandler?postKeyId={{i.key.id()}}&name={{myuser.name}}" class="card-link">Add Comments</a>
                </div>
              </div>
              {% endfor %}






            </div>
        </div>

        {% else %}
        <div class="row">
            <div class="col noPost mb-5">
                <h4>No Posts Yet</h4>

            </div>
        </div>

        {% endif %}
    </div>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e7926f2306.js" crossorigin="anonymous"></script>
</body>
</html>